* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color: #5865F2;
    --text-color: #23272A;
    --light-gray: #F6F6F6;
}
/* Header */
header {
    padding: 0 6%;
}
.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-gray);
    position: relative;
}
.logo {
    font-size: 32px;
    font-weight: 700;
    color: var(--main-color);
}
.nav-link {
    display: flex;
}
.nav-link li {
    list-style: none;
    padding: 10px 20px;
}
.nav-link li a {
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
}
.nav-link .active-link  {
    border-bottom: 4px solid #5865F2;
    color: var(--main-color);
}
.hamburger-icon {
        width: 30px;
        display: none;
}
.close-menu {
    width: 26px;
    display: none;
}
/* intro Section */
.intro {
    padding: 6%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--light-gray);
}
.intro-box {
    margin: auto;
    text-align: center;
    justify-content: center;
}
.intro-box h1 {
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 5px;
    color: var(--text-color);
}
.intro-box h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.prfl-img {
    text-align: center;
}
/* about me */
.about-me {
    text-align: center;
    padding: 8%;
}
.about-me-box {
    margin: 0 18%;
}
.about-me-box h2 {
    font-size: 22px;
    font-weight: 500;
    color: var(--text-color);
    padding-bottom: 22px;
}
.about-me-box p {
    font-size: 18px;
    color: var(--text-color);
}
/* My Skill */
.my-skill {
    padding: 8%;
    background-color: var(--light-gray);
}
.my-skill h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: var(--text-color);
}
.progress-box {
    text-align: center;
    justify-content: center;
    display: grid;
    margin-top: 70px;
    gap: 20vh;
    grid-template-columns: repeat(2, 150px); 
}
/* circle */
.circle {
}
.circle-wrap {
    display: grid;
    grid-template-columns: repeat(1, 160px);
    grid-gap: 80px;
    margin-top: 20px;
    height: 150px;
    max-width: 150px;
    background: #d9d7da;
    border-radius: 50%;
  }

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: var(--text-color);
  line-height: 120px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  color: white;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
.mask .fill-1 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: var(--main-color);
  }
  
  .mask.full-1,
  .circle .fill-1 {
    animation: fill-1 ease-in-out 3s;
    transform: rotate(153deg);
  }
  
  @keyframes fill-1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(153deg);
    }
  }
/* Recent Work */
.recent-work {
    text-align: center;
    padding: 4% 8%;
}
.recent-work h3 {
    font-size: 22px;
    font-weight: 500;
    color: var(--text-color);
    padding-bottom: 52px;
}
.recent-work-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1rem;
}
.card {
    height: 200px;
    background-color: #23272A;
    border-radius: 5px;
}
/* Contact */
.contact {
    padding: 5% 16% 5% 16% ;
    background-color: var(--light-gray);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
}
.contact-information h4 {
    font-size: 22px;
}
.contact-information h6{
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
}
.contact-info {
    padding: 20px ;
}
.contact-info h6 {
    font-size: 16px;
    font-weight: 500;
}
.contact-info p {
    font-size: 14px;
    padding-top: 8px;
    padding-left: 45px;
}
.contact-box {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
}
.contact-img {
    display: flex;
    align-items: center;
}
.contact-img img {
    width: 30px;
    margin-right: 20px;
}
.contact-box input {
    height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
}
.contact-box textarea {
    margin-top: 20px;
    padding: 5px 10px 0 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100px;
}
.submit-button {
    background-color: var(--main-color);
    color: white;
    margin-top: 20px;
    padding: 4px 20px;
    width: 100px;
    border: var(--main-color);
}
/* Footer */
footer {
    padding: 3%;
    background-color: var(--text-color);
}
.footer {
    text-align: center;
}
.footer h1{
    color: var(--main-color);
    font-size: 24px;
    font-weight: 700;
}
.footer h3 {
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.foot-link {
    margin-top: 22px;
}
.foot-link ul {
    display: flex;
    justify-content: center;
}
.foot-link ul li {
    list-style: none;
    padding: 0 12px;
}
.foot-link ul li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}
.foot-link ul li a:hover {
    text-decoration: underline;
    color: var(--main-color);
}
.s-m-img{
    display: flex;
    justify-content: center;
    margin-top: 22px;
}
.s-m-img img {
    width: 30px;
    padding: 0 12px;
}
/* credential */
.credidential {
    padding: 10px ;
    text-align: center;
    font-size: 14px;
}



/* media queries */
@media only screen and (max-width: 768px) {
    .intro {
        padding: 5%;
    }
    .contact {
        padding: 5% 10% 5% 10%;
    }
}
@media only screen and (max-width: 600px) {
    /* header */
    .nav-link {
        position: absolute;
        background-color: var(--text-color);
        height: 100vh;
        width: 40vh;
        top: 0;
        right: 0;
        flex-direction: column;
        padding: 50px 4%;
        transition: .5s;
    }
    .sidemenu-in {
       right: -800px;
    }
    .nav-link li a {
        color: white;
    }
    .hamburger-icon {
        display: block;
    }
    .close-menu {
      display: block;  
      position: absolute;
      right: 20px;
      top: 20px;
    }
    /* introdution  */
    .intro {
        padding: 16% 6%;
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    /* contact */
  .contact {
    grid-template-columns: 1fr;
  }
}