* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    padding-bottom: 200px;
}
:root {
    --main-color: #5865F2;
    --text-color: #23272A;
    --light-gray: #F6F6F6;
}
/* Header */
header {
    padding: 0 6%;
}
.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-gray);
}
.logo {
    font-size: 32px;
    font-weight: 700;
    color: var(--main-color);
}
.nav-link {
    display: flex;
}
.nav-link li {
    list-style: none;
    padding: 10px 20px;
}
.nav-link li a {
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
}
.nav-link .active-link:active {
    color: var(--main-color);
}
/* intro Section */
.intro {
    padding: 6%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--light-gray);
}
.intro-box {
    margin: auto;
    text-align: center;
    justify-content: center;
}
.intro-box h1 {
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 5px;
    color: var(--text-color);
}
.intro-box h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.prfl-img {
    text-align: center;
}
/* about me */
.about-me {
    text-align: center;
    padding: 8%;
}
.about-me-box {
    margin: 0 18%;
}
.about-me-box h2 {
    font-size: 22px;
    font-weight: 500;
    color: var(--text-color);
    padding-bottom: 22px;
}
.about-me-box p {
    font-size: 18px;
    color: var(--text-color);
}
/* My Skill */
.my-skill {
    text-align: center;
    padding: 8%;
    background-color: var(--light-gray);
}
.my-skill h3 {
    font-size: 22px;
    font-weight: 500;
    color: var(--text-color);
}
.progress-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}
/* Recent Work */
.recent-work {
    text-align: center;
    padding: 4% 8%;
}
.recent-work h3 {
    font-size: 22px;
    font-weight: 500;
    color: var(--text-color);
    padding-bottom: 52px;
}
.recent-work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.card {
    height: 200px;
    background-color: #23272A;
    border-radius: 5px;
}
/* Contact */
.contact {
    padding: 8%;
    text-align: center;
    background-color: var(--light-gray);
}
.contact-container {
    margin: 0 30%;
    display: flex;
    flex-direction: column;
   
}
.contact-container input {
    height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
}
.contact-container textarea {
    margin-top: 20px;
    padding: 5px 10px 0 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.submit-button {
    background-color: var(--main-color);
    color: white;
    margin-top: 20px;
    padding: 4px 20px;
    width: 100px;
    border: var(--main-color);
}